html(lang="fr")
    head
        meta(charset="utf-8")
        title Molded Interconnect Devices

        link(rel="stylesheet", href="reveal/css/reveal.css")
        link(rel="stylesheet", href="theme.css")
        link(rel="stylesheet", href="simplegrid.css")
        link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

    body
        .reveal
            .slides
                section(data-background="#1abc9c").justify
                    section
                        h1 Molded<br>Interconnect<br>Devices
                        h2 Antoine Albertelli<br>Quentin Herzig

                section(data-background="#3498db")
                    section(style="text-align:justify;")
                        h1 Molded<br>Interconnect<br>Devices ?

                    section.justify
                        h1 Applications
                        h2 Industrie automobile

                    section
                        img(src="holder.js/500x500/text:Volant MID")

                    section
                        img(src="holder.js/500x500/text:Volant normal")

                    section(data-background="images/mid_selector.jpg").justify




                    section.justify
                        h1 Applications
                        h2 Télécommunications

                    section
                        img(src="images/lds-molex-antenna_cropped_out.png")
                        h4 Antenne de smartphone

                    section.justify
                        h1 Applications
                        h2 Connectique

                    section(data-background="images/fischer_blur.png", style="text-align:right")
 
                    section(data-background="images/lds-micro-train.jpg")

                section(data-background="#e67e22")
                    section
                        h1 Fabrication

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;").fragment
                                li 
                                    i.fa.fa-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation


                    section.justify
                        h1 Activation
                        video(src="videos/Activation.mp4", data-autoplay, loop)


                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    section.justify
                        h1 Métallisation
                        video(src="videos/Metallisation.mp4", data-autoplay, loop)

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-check-square-o
                                    |  Métallisation
                       
                    section.justify
                        h1 Two-shot<br>MID

                    section.justify.grid
                        h2 Procédé Two-shot
                        .col-4-12.fragment
                            h4 Injection
                            center
                                img(src="images/2K_inner.png", height="128px")

                        .col-4-12.fragment
                            h4 Surmoulage
                            img(src="images/2K_second_shot.png", height="128px")

                        .col-4-12.fragment
                            h4 Métallisation
                            img(src="images/2K_after_metal.png", height="128px")


                section(data-background="#8e44ad").justify
                    section
                        h1 Conception
                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12.fragment.current-visible
                            h2 Règles <br>de conception
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polymère dopable
                                li 
                                    i.fa.fa-check-square-o
                                    |  Taille des pistes
                                li 
                                    i.fa.fa-check-square-o
                                    |  Angle d'incidence
                                li 
                                    i.fa.fa-check-square-o
                                    |  Volume maximal

                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12
                            h2 Polymères<br>activables
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Liquid Crystal Polymer
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polyamide (PA)
                                li 
                                    i.fa.fa-check-square-o
                                    |  PBT
                                li 
                                    i.fa.fa-check-square-o
                                    |  Mélange de PBT et PET
                                li 
                                    i.fa.fa-check-square-o
                                    |  PPA
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polycarbonate
                                li 
                                    i.fa.fa-check-square-o
                                    |  Mélange de Polycarbonate et d'ABS

                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12
                            h2 Taille<br>des pistes
                            ul(style="list-style-type:none;list-style-position:inside;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Largeur de 150 microns
                                li 
                                    i.fa.fa-check-square-o
                                    |  Clearance de 150 microns

                    section(data-transition="none")
                        .col-7-12
                            img(src="holder.js/300x500", height="500px")
                        .col-5-12
                            h2 Angle<br>d'incidence
                               
                section(data-background="#e74c3c",data-background-transition="slide")
                    section
                        h1 
                            i.fa.fa-warning 
                            | &nbsp; &nbsp;&nbsp;Et les PCB?

                    section
                        h1 MID vs PCB                        
                section
                    h1 #questions

        script(src="reveal/lib/js/head.min.js")
        script(src="reveal/js/reveal.min.js")
        script(src="main.js")
        script(src="holder/holder.js")
        script(src="jquery.min.js")



