html(lang="fr")
    head
        meta(charset="utf-8")
        title Molded Interconnect Devices

        link(rel="stylesheet", href="reveal/css/reveal.css")
        link(rel="stylesheet", href="theme.css")
        link(rel="stylesheet", href="simplegrid.css")
        link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

    body
        .reveal
            .slides
                section(data-background="#1abc9c").justify
                    section
                        h1 Molded<br>Interconnect<br>Devices
                        h2 Antoine Albertelli<br>Quentin Herzig

                section(data-background="#3498db")
                    section(style="text-align:justify;")
                        h1 Molded Interconnect Devices ?

                    section.justify
                        h1 Applications
                        h2 Industrie automobile

                    section
                        img(src="holder.js/500x500/text:Volant MID")

                    section
                        img(src="holder.js/500x500/text:Volant normal")

                    section(data-background="images/mid_selector.jpg").justify




                    section.justify
                        h1 Applications
                        h2 Télécommunications

                    section
                        img(src="images/lds-molex-antenna.jpg")
                        h4 Antenne de smartphone

                    section.justify
                        h1 Applications
                        h2 Connectique

                    section(data-background="images/fischer.png", style="text-align:right")
 
                    section(data-background="images/lds-micro-train.jpg")

                section(data-background="#e67e22")
                    section
                        h1 Fabrication

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;").fragment
                                li 
                                    i.fa.fa-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation


                    section.justify
                        h1 Activation
                        video(src="videos/Activation.mp4", data-autoplay, loop)


                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    section.justify.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-check-square-o
                                    |  Métallisation
                       
                    section 
                        h1 Two-shot MID

                section(data-background="#8e44ad")
                    section
                        h1 Conception
                        img(src="holder.js/500x500/text:MID bible")

                section
                    section
                        h1 
                            i.fa.fa-warning 
                            | &nbsp; &nbsp;&nbsp;Et les PCB?

                    section
                        h1 MID vs PCB                        
                section
                    h1 #questions

        script(src="reveal/lib/js/head.min.js")
        script(src="reveal/js/reveal.min.js")
        script(src="main.js")
        script(src="holder/holder.js")
        script(src="jquery.min.js")



