html(lang="fr")
    head
        meta(charset="utf-8")
        title Molded Interconnect Devices

        link(rel="stylesheet", href="reveal/css/reveal.css")
        link(rel="stylesheet", href="theme.css")
        link(rel="stylesheet", href="simplegrid.css")
        link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

    body
        .reveal
            .slides
                section(data-background="#1abc9c").justify
                    section
                        h1 Molded<br>Interconnect<br>Devices
                        h2 Antoine Albertelli<br>Quentin Herzig

                section(data-background="#3498db")
                    section(style="text-align:justify;")
                        h1 Molded<br>Interconnect<br>Devices ?

                    section.justify
                        h1 Applications
                        h2 Industrie automobile

                    section.justify
                        h2 Volant multifonction
                        .grid
                            .col-6-12.fragment
                                img(src="images/conventional_steering_wheel.png")
                            .col-6-12.fragment
                                img(src="images/mid_steering_wheel.png")

                    section(data-background="images/mid_selector.jpg").justify


                    section.justify
                        h1 Applications
                        h2 Télécommunications

                    section(data-background="images/24ghz.png")

                    section
                        img(src="images/lds-molex-antenna_cropped_out.png")

                    section.justify
                        h1 Applications
                        h2 Connectique

                    section(data-background="images/fischer_blur.png")
 
                    section(data-background="images/lds-micro-train.jpg")

                section(data-background="#d35400").justify
                    section
                        h1 
                            i.fa.fa-wrench
                            |  Fabrication

                    section.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;").fragment
                                li 
                                    i.fa.fa-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    section
                        h1 Injection
                        ul(style="list-style-type:none;")
                            li 
                                i.fa.fa-chevron-right
                                |  Injection plastique standard

                            li 
                                i.fa.fa-chevron-right
                                |  Thermoplastiques uniquement

                            li
                                i.fa.fa-chevron-right
                                |  Polymère dopé

                    section.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation


                    section
                        h1 Activation
                        ul(style="list-style-type:none;")
                            li 
                                i.fa.fa-chevron-right
                                |  Laser IR orienté optiquement. se déplaçant à 4 mètres par seconde.
                            li 
                                i.fa.fa-chevron-right
                                |  Brûle la partie organique du polymère

                            li 
                                i.fa.fa-chevron-right
                                |  Laisse le dopant métallique et des microcavités

                    section
                        h1 Activation
                        video(src="videos/Activation.mp4", data-autoplay, loop)


                    section.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-square-o
                                    |  Métallisation

                    

                    section
                        h1 Métallisation
                        .grid
                            .col-6-12
                                img(src="images/CuNiAu_color.png", height="500px")
                            .col-6-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-chevron-right
                                    |  Trois bains chimiques

                                li 
                                    i.fa.fa-chevron-right
                                    |  Protection contre l'oxydation
                                li 
                                    i.fa.fa-chevron-right
                                    |  Déposition électrique possible


                    section
                        video(src="videos/Metallisation.mp4", data-autoplay, loop)

                    section(data-background="images/LDS_steps.png")

                    section.grid
                        .col-8-12
                            h1 Laser<br>Direct<br>Structuring
                        .col-4-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Injection
                                li 
                                    i.fa.fa-check-square-o
                                    |  Activation
                                li 
                                    i.fa.fa-check-square-o
                                    |  Métallisation
                       
                    section
                        h1 Two-shot<br>MID

                    section.grid
                        h2 Procédé Two-shot
                        .col-4-12.fragment
                            h4 Injection
                            center
                                img(src="images/2K_inner.png", height="128px")

                        .col-4-12.fragment
                            h4 Surmoulage
                            img(src="images/2K_second_shot.png", height="128px")

                        .col-4-12.fragment
                            h4 Métallisation
                            img(src="images/2K_after_metal.png", height="128px")


                section(data-background="#8e44ad").justify
                    section
                        h1 
                            i.fa.fa-gears
                            |  Conception
                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12
                            h2 Règles <br>de conception
                            ul(style="list-style-type:none;").fragment
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polymère dopable
                                li 
                                    i.fa.fa-check-square-o
                                    |  Taille des pistes
                                li 
                                    i.fa.fa-check-square-o
                                    |  Angle d'incidence
                                li 
                                    i.fa.fa-check-square-o
                                    |  Volume maximal

                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12
                            h2 Polymères<br>activables
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Liquid Crystal Polymer
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polyamide (PA)
                                li 
                                    i.fa.fa-check-square-o
                                    |  PBT
                                li 
                                    i.fa.fa-check-square-o
                                    |  Mélange de PBT et PET
                                li 
                                    i.fa.fa-check-square-o
                                    |  PPA
                                li 
                                    i.fa.fa-check-square-o
                                    |  Polycarbonate
                                li 
                                    i.fa.fa-check-square-o
                                    |  Mélange de Polycarbonate et d'ABS

                    section(data-transition="none")
                        .col-7-12
                            img(src="images/design-rules.png", height="500px")
                        .col-5-12
                            h2 Taille<br>des pistes
                            ul(style="list-style-type:none;list-style-position:inside;")
                                li 
                                    i.fa.fa-check-square-o
                                    |  Largeur de 150 microns
                                li 
                                    i.fa.fa-check-square-o
                                    |  Clearance de 150 microns

                    section(data-transition="none")
                        .col-7-12
                            img(src="images/activation_limits.png", height="500px")
                        .col-5-12
                            h2 Angle<br>d'incidence
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-chevron-right
                                    |  Forme du spot
                                li 
                                    i.fa.fa-chevron-right
                                    |  Intensité
                                li 
                                    i.fa.fa-chevron-right
                                    |  Résolution
                                li.fragment 
                                    i.fa.fa-arrow-right
                                    |  Possibilité de faire tourner la pièce

                    section
                        .col-7-12
                            img(src="images/LPFK_Protopaint.png")
                        .col-5-12
                            h2 Prototypage
                            ul(style="list-style-type:none;").fragment
                                li 
                                    i.fa.fa-chevron-right
                                    |  Impression 3D
                                li 
                                    i.fa.fa-chevron-right
                                    |  LPKF ProtoPaint

                                li 
                                    i.fa.fa-chevron-right
                                    |  Soft Mold
                            
                section(data-background="#2ecc71").justify
                    section
                        h1
                            i.fa.fa-usd
                            |  Coûts


                    section
                        h2 Pièce étudiée
                        .grid
                            .col-6-12
                                ul(style="list-style-type:none;")
                                    li 
                                        i.fa.fa-chevron-right
                                        |  Couvercle de sécurité
                                    li 
                                        i.fa.fa-chevron-right
                                        |  Protège de l'intrusion

                                    li 
                                        i.fa.fa-chevron-right
                                        |  Forte intégration électronique / mécanique
                            .col-6-12.fragment
                                img(src="images/Example_part.png")

                    section(data-background="images/Cap.png")

                    section.grid

                        h2 Injection
                        .col-8-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-chevron-right
                                    |  Pièce en polycarbonate
                                li 
                                    i.fa.fa-chevron-right
                                    |  Un opérateur pour 10 machines 
                                li 
                                    i.fa.fa-chevron-right
                                    |  Moule à 20'000 CHF pour 500'000 pièces

                        .col-4-12
                            table.table.fragment
                                tr
                                    td Matière
                                    td 0.28

                                tr
                                    td Opérateur
                                    td 0.04

                                tr
                                    td Outillage
                                    td 0.04

                                tr
                                    td Amortissement
                                    td 0.02


                                tr
                                    td 
                                        b Total
                                    td 0.38

                    section.grid
                        h2 Activation
                        .col-8-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-chevron-right
                                    |  Un opérateur par machine

                                li 
                                    i.fa.fa-chevron-right
                                    |  Machine: MicroLine de LPKF

                        .col-4-12
                            table.table.fragment
                                tr
                                    td Opérateur
                                    td 0.49

                                tr
                                    td Amortissement
                                    td 0.06

                                tr
                                    td 
                                        b Total
                                    td 0.55

                    section.grid
                        h2 Métallisation
                        .col-8-12
                            ul(style="list-style-type:none;")
                                li 
                                    i.fa.fa-chevron-right
                                    |  Pas de cuivre électrolytique
                                li 
                                    i.fa.fa-chevron-right
                                    |  Finition NiAu

                                li 
                                    i.fa.fa-chevron-right
                                    |  2 opérateurs pour 3 lignes
                        .col-4-12
                            table.table.fragment
                                tr
                                    td Amortissement
                                    td 0.16


                                tr
                                    td Matière
                                    td 0.54

                                tr
                                    td Opérateur
                                    td 0.20

                                tr
                                    td 
                                        b Total
                                    td 0.90

                    section
                        h2 Récapitulatif
                        .grid
                            .col-6-12
                                table.table
                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#3498db") 
                                            |  Injection
                                        td 0.38
                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#e74c3c") 
                                            |  Activation
                                        td 0.55

                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#f1c40f") 
                                            |  Métallisation
                                        td 0.90
                                    tr
                                        td
                                            b Total
                                        td 
                                            b 1.83
                            .col-6-12
                                canvas(width="400", height="400")#cost_repartition


                    section
                        h2 Récapitulatif
                        .grid
                            .col-6-12
                                table.table
                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#3498db") 
                                            |  Opérateur
                                        td 0.72


                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#e67e22") 
                                            |  Matière
                                        td 0.28


                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#f1c40f") 
                                            |  Moule
                                        td 0.04


                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#e74c3c") 
                                            |  Bains
                                        td 0.55

                                    tr
                                        td 
                                            i.fa.fa-square(style="color:#1abc9c") 
                                            |  Amortissement
                                        td 0.24

                                    tr
                                        td
                                            b Total
                                        td 
                                            b 1.83

                            .col-6-12
                                canvas(width="400", height="400")#cost_source




                               
                section(data-background="#e74c3c",data-background-transition="slide")
                    section
                        h1 
                            i.fa.fa-warning 
                            | &nbsp;Et les PCB?

                    section(data-background="images/MIDvsPCB.png")

                    section
                        .grid.justify
                            .col-6-12
                                h2 MID
                                ul(style="list-style-type:none;")
                                    li
                                        i.fa.fa-chevron-right
                                        |  Géométrie 3D
                                    li
                                        i.fa.fa-chevron-right
                                        |  Association mécanique / électronique
                                    li
                                        i.fa.fa-chevron-right
                                        |  Complexité de cablâge réduite
                            .col-6-12
                                h2 PCB
                                ul(style="list-style-type:none;")
                                    li
                                        i.fa.fa-chevron-right
                                        |  Forte densité de piste
                                    li
                                        i.fa.fa-chevron-right
                                        |  Circuits multicouche
                                    li
                                        i.fa.fa-chevron-right
                                        |  Assemblage des SMD facilité

                    section.justify
                        h1 Alternative PCB
                        ul(style="list-style-type:none;").fragment
                            li
                                i.fa.fa-chevron-right
                                |  Même fonction que précedemment

                            li
                                i.fa.fa-chevron-right
                                |  Solution composée de plusieurs composants :
                                ol
                                    li PCB de 60x60mm
                                    li Connecteur soudé sur le PCB (réalisé automatiquement)
                                    li Boîtier injecté     
                            li
                                i.fa.fa-chevron-right
                                |  Assemblé par un opérateur

                    section.justify
                        h2 Coûts de l'alternative
                        table.table
                            tr
                                td Circuit
                                td 3.13
                            tr
                                td Connecteur + Assemblage SMD
                                td 0.5
                            tr
                                td Boîtier
                                td 0.2
                            tr
                                td Assemblage
                                td 0.15

                            tr
                                td <b>Total</b>
                                td <b>3.98</b>

                    section
                        h1 2x plus cher !

                section.justify
                    h1 #questions

        script(src="reveal/lib/js/head.min.js")
        script(src="Chart.min.js")
        script(src="reveal/js/reveal.min.js")
        script(src="main.js")
        script(src="holder/holder.js")
        script(src="jquery.min.js")



