html(lang="fr")
    head
        meta(charset="utf-8")
        title Molded Interconnect Devices

        link(rel="stylesheet", href="reveal/css/reveal.min.css")
        link(rel="stylesheet", href="theme.css")

    body
        .reveal
            .slides
                section(data-background="#1abc9c")
                    section
                        h1 Molded Interconnect Devices
                        h2 Antoine Albertelli
                        h2 Quentin Herzig
                    section
                        ul
                            li a1
                            li aw

                section(data-background="#3498db")
                    h1 test

        script(src="reveal/lib/js/head.min.js")
        script(src="reveal/js/reveal.min.js")
        script(src="main.js")
        script(src="jquery.min.js")



